---
permalink: 'jess.csv'
---
"{{ jess.rowsPost.headers[0] }}","{{ jess.rowsPost.headers[1] }}","{{ jess.rowsPost.headers[2] }}","{{ jess.rowsPost.headers[3] }}","{{ jess.rowsPost.headers[4] }}","{{ jess.rowsPost.headers[5] }}","{{ jess.rowsPost.headers[6] }}","{{ jess.rowsPost.headers[7] }}"
"{{ jess.rowsPost.content[0].week }}","{{ jess.rowsPost.content[0].book }}","{{ jess.rowsPost.content[0].chapter }}","{{ jess.rowsPost.content[0].assignment }}","{{ jess.rowsPost.content[0].date }}","{{ jess.rowsPost.content[0].grade }}","{{ jess.rowsPost.content[0].points }}","{{ jess.rowsPost.content[0].total }}"
"{{ jess.rowsPost.content[1].week }}","{{ jess.rowsPost.content[1].book }}","{{ jess.rowsPost.content[1].chapter }}","{{ jess.rowsPost.content[1].assignment }}","{{ jess.rowsPost.content[1].date }}","{{ jess.rowsPost.content[1].grade }}","{{ jess.rowsPost.content[1].points }}","{{ jess.rowsPost.content[1].total }}"
"{{ jess.rowsPost.content[2].week }}","{{ jess.rowsPost.content[2].book }}","{{ jess.rowsPost.content[2].chapter }}","{{ jess.rowsPost.content[2].assignment }}","{{ jess.rowsPost.content[2].date }}","{{ jess.rowsPost.content[2].grade }}","{{ jess.rowsPost.content[2].points }}","{{ jess.rowsPost.content[2].total }}"
"{{ jess.rowsPost.content[3].week }}","{{ jess.rowsPost.content[3].book }}","{{ jess.rowsPost.content[3].chapter }}","{{ jess.rowsPost.content[3].assignment }}","{{ jess.rowsPost.content[3].date }}","{{ jess.rowsPost.content[3].grade }}","{{ jess.rowsPost.content[3].points }}","{{ jess.rowsPost.content[3].total }}"
"{{ jess.rowsPost.content[4].week }}","{{ jess.rowsPost.content[4].book }}","{{ jess.rowsPost.content[4].chapter }}","{{ jess.rowsPost.content[4].assignment }}","{{ jess.rowsPost.content[4].date }}","{{ jess.rowsPost.content[4].grade }}","{{ jess.rowsPost.content[4].points }}","{{ jess.rowsPost.content[4].total }}"
"{{ jess.rowsPost.content[5].week }}","{{ jess.rowsPost.content[5].book }}","{{ jess.rowsPost.content[5].chapter }}","{{ jess.rowsPost.content[5].assignment }}","{{ jess.rowsPost.content[5].date }}","{{ jess.rowsPost.content[5].grade }}","{{ jess.rowsPost.content[5].points }}","{{ jess.rowsPost.content[5].total }}"
"{{ jess.rowsPost.content[6].week }}","{{ jess.rowsPost.content[6].book }}","{{ jess.rowsPost.content[6].chapter }}","{{ jess.rowsPost.content[6].assignment }}","{{ jess.rowsPost.content[6].date }}","{{ jess.rowsPost.content[6].grade }}","{{ jess.rowsPost.content[6].points }}","{{ jess.rowsPost.content[6].total }}"
"{{ jess.rowsPost.content[7].week }}","{{ jess.rowsPost.content[7].book }}","{{ jess.rowsPost.content[7].chapter }}","{{ jess.rowsPost.content[7].assignment }}","{{ jess.rowsPost.content[7].date }}","{{ jess.rowsPost.content[7].grade }}","{{ jess.rowsPost.content[7].points }}","{{ jess.rowsPost.content[7].total }}"
"{{ jess.rowsPost.content[8].week }}","{{ jess.rowsPost.content[8].book }}","{{ jess.rowsPost.content[8].chapter }}","{{ jess.rowsPost.content[8].assignment }}","{{ jess.rowsPost.content[8].date }}","{{ jess.rowsPost.content[8].grade }}","{{ jess.rowsPost.content[8].points }}","{{ jess.rowsPost.content[8].total }}"
"{{ jess.rowsPost.content[9].week }}","{{ jess.rowsPost.content[9].book }}","{{ jess.rowsPost.content[9].chapter }}","{{ jess.rowsPost.content[9].assignment }}","{{ jess.rowsPost.content[9].date }}","{{ jess.rowsPost.content[9].grade }}","{{ jess.rowsPost.content[9].points }}","{{ jess.rowsPost.content[9].total }}"
"{{ jess.rowsPost.content[10].week }}","{{ jess.rowsPost.content[10].book }}","{{ jess.rowsPost.content[10].chapter }}","{{ jess.rowsPost.content[10].assignment }}","{{ jess.rowsPost.content[10].date }}","{{ jess.rowsPost.content[10].grade }}","{{ jess.rowsPost.content[10].points }}","{{ jess.rowsPost.content[10].total }}"
"{{ jess.rowsPost.content[11].week }}","{{ jess.rowsPost.content[11].book }}","{{ jess.rowsPost.content[11].chapter }}","{{ jess.rowsPost.content[11].assignment }}","{{ jess.rowsPost.content[11].date }}","{{ jess.rowsPost.content[11].grade }}","{{ jess.rowsPost.content[11].points }}","{{ jess.rowsPost.content[11].total }}"
"{{ jess.rowsPost.content[12].week }}","{{ jess.rowsPost.content[12].book }}","{{ jess.rowsPost.content[12].chapter }}","{{ jess.rowsPost.content[12].assignment }}","{{ jess.rowsPost.content[12].date }}","{{ jess.rowsPost.content[12].grade }}","{{ jess.rowsPost.content[12].points }}","{{ jess.rowsPost.content[12].total }}"
"{{ jess.rowsPost.content[13].week }}","{{ jess.rowsPost.content[13].book }}","{{ jess.rowsPost.content[13].chapter }}","{{ jess.rowsPost.content[13].assignment }}","{{ jess.rowsPost.content[13].date }}","{{ jess.rowsPost.content[13].grade }}","{{ jess.rowsPost.content[13].points }}","{{ jess.rowsPost.content[13].total }}"
"{{ jess.rowsPost.content[14].week }}","{{ jess.rowsPost.content[14].book }}","{{ jess.rowsPost.content[14].chapter }}","{{ jess.rowsPost.content[14].assignment }}","{{ jess.rowsPost.content[14].date }}","{{ jess.rowsPost.content[14].grade }}","{{ jess.rowsPost.content[14].points }}","{{ jess.rowsPost.content[14].total }}"
"{{ jess.rowsPost.content[15].week }}","{{ jess.rowsPost.content[15].book }}","{{ jess.rowsPost.content[15].chapter }}","{{ jess.rowsPost.content[15].assignment }}","{{ jess.rowsPost.content[15].date }}","{{ jess.rowsPost.content[15].grade }}","{{ jess.rowsPost.content[15].points }}","{{ jess.rowsPost.content[15].total }}"
"{{ jess.rowsPost.content[16].week }}","{{ jess.rowsPost.content[16].book }}","{{ jess.rowsPost.content[16].chapter }}","{{ jess.rowsPost.content[16].assignment }}","{{ jess.rowsPost.content[16].date }}","{{ jess.rowsPost.content[16].grade }}","{{ jess.rowsPost.content[16].points }}","{{ jess.rowsPost.content[16].total }}"
"{{ jess.rowsPost.content[17].week }}","{{ jess.rowsPost.content[17].book }}","{{ jess.rowsPost.content[17].chapter }}","{{ jess.rowsPost.content[17].assignment }}","{{ jess.rowsPost.content[17].date }}","{{ jess.rowsPost.content[17].grade }}","{{ jess.rowsPost.content[17].points }}","{{ jess.rowsPost.content[17].total }}"
"{{ jess.rowsPost.content[18].week }}","{{ jess.rowsPost.content[18].book }}","{{ jess.rowsPost.content[18].chapter }}","{{ jess.rowsPost.content[18].assignment }}","{{ jess.rowsPost.content[18].date }}","{{ jess.rowsPost.content[18].grade }}","{{ jess.rowsPost.content[18].points }}","{{ jess.rowsPost.content[18].total }}"
"{{ jess.rowsPost.content[19].week }}","{{ jess.rowsPost.content[19].book }}","{{ jess.rowsPost.content[19].chapter }}","{{ jess.rowsPost.content[19].assignment }}","{{ jess.rowsPost.content[19].date }}","{{ jess.rowsPost.content[19].grade }}","{{ jess.rowsPost.content[19].points }}","{{ jess.rowsPost.content[19].total }}"
"{{ jess.rowsPost.content[20].week }}","{{ jess.rowsPost.content[20].book }}","{{ jess.rowsPost.content[20].chapter }}","{{ jess.rowsPost.content[20].assignment }}","{{ jess.rowsPost.content[20].date }}","{{ jess.rowsPost.content[20].grade }}","{{ jess.rowsPost.content[20].points }}","{{ jess.rowsPost.content[20].total }}"
"{{ jess.rowsPost.content[21].week }}","{{ jess.rowsPost.content[21].book }}","{{ jess.rowsPost.content[21].chapter }}","{{ jess.rowsPost.content[21].assignment }}","{{ jess.rowsPost.content[21].date }}","{{ jess.rowsPost.content[21].grade }}","{{ jess.rowsPost.content[21].points }}","{{ jess.rowsPost.content[21].total }}"
"{{ jess.rowsPost.content[22].week }}","{{ jess.rowsPost.content[22].book }}","{{ jess.rowsPost.content[22].chapter }}","{{ jess.rowsPost.content[22].assignment }}","{{ jess.rowsPost.content[22].date }}","{{ jess.rowsPost.content[22].grade }}","{{ jess.rowsPost.content[22].points }}","{{ jess.rowsPost.content[22].total }}"
"{{ jess.rowsPost.content[23].week }}","{{ jess.rowsPost.content[23].book }}","{{ jess.rowsPost.content[23].chapter }}","{{ jess.rowsPost.content[23].assignment }}","{{ jess.rowsPost.content[23].date }}","{{ jess.rowsPost.content[23].grade }}","{{ jess.rowsPost.content[23].points }}","{{ jess.rowsPost.content[23].total }}"
"{{ jess.rowsPost.content[24].week }}","{{ jess.rowsPost.content[24].book }}","{{ jess.rowsPost.content[24].chapter }}","{{ jess.rowsPost.content[24].assignment }}","{{ jess.rowsPost.content[24].date }}","{{ jess.rowsPost.content[24].grade }}","{{ jess.rowsPost.content[24].points }}","{{ jess.rowsPost.content[24].total }}"
"{{ jess.rowsPost.content[25].week }}","{{ jess.rowsPost.content[25].book }}","{{ jess.rowsPost.content[25].chapter }}","{{ jess.rowsPost.content[25].assignment }}","{{ jess.rowsPost.content[25].date }}","{{ jess.rowsPost.content[25].grade }}","{{ jess.rowsPost.content[25].points }}","{{ jess.rowsPost.content[25].total }}"
"{{ jess.rowsPost.content[26].week }}","{{ jess.rowsPost.content[26].book }}","{{ jess.rowsPost.content[26].chapter }}","{{ jess.rowsPost.content[26].assignment }}","{{ jess.rowsPost.content[26].date }}","{{ jess.rowsPost.content[26].grade }}","{{ jess.rowsPost.content[26].points }}","{{ jess.rowsPost.content[26].total }}"
"{{ jess.rowsPost.content[27].week }}","{{ jess.rowsPost.content[27].book }}","{{ jess.rowsPost.content[27].chapter }}","{{ jess.rowsPost.content[27].assignment }}","{{ jess.rowsPost.content[27].date }}","{{ jess.rowsPost.content[27].grade }}","{{ jess.rowsPost.content[27].points }}","{{ jess.rowsPost.content[27].total }}"
"{{ jess.rowsPost.content[28].week }}","{{ jess.rowsPost.content[28].book }}","{{ jess.rowsPost.content[28].chapter }}","{{ jess.rowsPost.content[28].assignment }}","{{ jess.rowsPost.content[28].date }}","{{ jess.rowsPost.content[28].grade }}","{{ jess.rowsPost.content[28].points }}","{{ jess.rowsPost.content[28].total }}"
"{{ jess.rowsPost.content[29].week }}","{{ jess.rowsPost.content[29].book }}","{{ jess.rowsPost.content[29].chapter }}","{{ jess.rowsPost.content[29].assignment }}","{{ jess.rowsPost.content[29].date }}","{{ jess.rowsPost.content[29].grade }}","{{ jess.rowsPost.content[29].points }}","{{ jess.rowsPost.content[29].total }}"
"{{ jess.rowsPost.content[30].week }}","{{ jess.rowsPost.content[30].book }}","{{ jess.rowsPost.content[30].chapter }}","{{ jess.rowsPost.content[30].assignment }}","{{ jess.rowsPost.content[30].date }}","{{ jess.rowsPost.content[30].grade }}","{{ jess.rowsPost.content[30].points }}","{{ jess.rowsPost.content[30].total }}"
"{{ jess.rowsPost.content[31].week }}","{{ jess.rowsPost.content[31].book }}","{{ jess.rowsPost.content[31].chapter }}","{{ jess.rowsPost.content[31].assignment }}","{{ jess.rowsPost.content[31].date }}","{{ jess.rowsPost.content[31].grade }}","{{ jess.rowsPost.content[31].points }}","{{ jess.rowsPost.content[31].total }}"
{# {{ jess.rowsPost.content | log }} #}