---
permalink: butts
layout: base
headers: [assignment,resource_type,topic,due_date,date_completed,score]
---
<table>
	<thead>
		<tr>
			{% for ea in headers %}
				<th>{{ ea }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for data in jess %}
		<tr>
				{% for ea in headers %}
				<td>{{ data[ea] }}</td>
				{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{# 
{% for ea in jess %}
"{{ ea.assignment }}","{{ ea.resource_type }}","{{ ea.topic }}","{{ ea.due_date }}","{{ ea.date_completed }}","{{ ea.score }}"
<br />
{% endfor %}
{{ jess | log }}
{{ "" }}
 #}
